html, body, div {
    font-family: arial, sans-serif;
    text-align: center;
}

#container {
    display: grid;
    height: 500px;
    width: 500px;

}

div {
    text-align: center;
    border-style: solid;
    border-color: ##bf1f1f;
    border-width: 1px;
}

button {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
}